.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 95vw;
  margin: 30px;
  border: solid #004280;
  border-radius: 15px;
  font-family: "Titan One", serif;
  font-weight: 400;
  font-style: normal;
  padding: 7px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mock {
  visibility: hidden;
}

.coin_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin: 80px 0 30px 0;
  font-family: "Titan One", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(90deg, rgb(96, 0, 128), #004280);
  color: transparent;
  background-clip: text;
  filter: brightness(1.7);
  width: 100%;
  max-width: 724px;
}

.acronym_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.acronym {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  animation-name: heartbeat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* color: coral; */
}

.solana_address_wrapper {
  display: flex;
  border: solid;
  border-radius: 10px;
  box-shadow: 0 10px;
  padding: 15px 20px;
  font-size: 25px;
  margin-bottom: 20px;
}

.solana_address:hover {
  cursor: pointer;
}

.solana_prompt {
  margin-bottom: 120px;
}
.fa-copy,
.fa-check {
  margin-left: 25px;
}
.fa-check {
  filter: brightness(1.8);
}
.fa-copy:hover {
  cursor: pointer;
}

.fa-copy.hidden,
.fa-check.hidden {
  display: none;
}
@keyframes color-change {
  from {
    color: rgb(241, 154, 78);
  }
  to {
    color: coral;
  }
}

@keyframes heartbeat {
  from {
    font-size: 70px;
  }

  to {
    font-size: 140px;
  }
}

.opening_statement {
  font-size: 38px;
  margin: 20px 0 200px;
  text-align: center;
}

.disclaimer {
  font-weight: bold 700;
  margin-bottom: 20px;
}

.img_statement_container {
  width: 991px;
}
.opening_img {
  width: 100%;
  max-width: 991px;
  margin-bottom: 200px;
}

.opening_img img {
  width: 100%;
  border-radius: 20px;
}

.mission_statement {
  margin: 60px 0;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  border: solid rgb(140, 0, 255);
  line-height: 1.7;
  background-image: linear-gradient(210deg, black, #083864);
}
.launch_plan_title {
  background-image: linear-gradient(90deg, rgb(96, 0, 128), white);
  color: transparent;
  background-clip: text;
  font-size: 40px;
  text-align: center;
}

.launch_plan_img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 100px;
}

.launch_plan_img_container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.luigi_img_container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 100px;
}

.luigi_img_container img {
  width: 100%;
}

.burger_img_container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 100px;
}

.burger_img_container img {
  width: 100%;
}
.launch_plan_details {
  border: solid rgb(140, 0, 255);
  padding: 20px 20px 60px 20px;
  border-radius: 20px;
  background-image: linear-gradient(110deg, black, #083864);
}

.white_paper_p {
  margin-top: 40px;
}
.white_paper_link {
  color: white;
  text-decoration: none;
  border-bottom: 0.5px solid;
}

.white_paper_link:hover {
  color: lightgrey;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    color: white;
  }
  to {
    color: lightgrey;
  }
}

.roadmap {
  margin-bottom: 200px;
  border: solid 0.5px black;
  border: solid rgb(140, 0, 255);
  border-radius: 20px;
  padding: 20px 20px 60px 20px;
  background-image: linear-gradient(110deg, #083864, #0535627d);
}
.roadmap li {
  padding: 10px;
  margin: 10px;
}
.roadmap_title {
  font-size: 40px;
  text-align: center;
  background-image: linear-gradient(90deg, white, rgb(96, 0, 128));
  color: transparent;
  background-clip: text;
}
.tokenomics {
  text-align: center;
  margin-bottom: 80px;
}

.tokenomics_details {
  padding: 10px 10px 40px 10px;
  border: solid rgb(140, 0, 255);
  background-image: linear-gradient(110deg, black, #083864);
  border-radius: 20px;
  margin-bottom: 100px;
}

.token_title {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  background-image: linear-gradient(60deg, rgb(96, 0, 128), white);
  color: transparent;
  background-clip: text;
}

.tokenomics_img {
  width: 100%;
  max-width: 1400px;
  margin-bottom: 100px;
}

.tokenomics_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.closing_img {
  width: 100%;
  max-width: 1040px;
  margin: 30px 0 60px 0;
}

.closing_img img {
  width: 100%;
  border-radius: 20px;
}

.closing_statement {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}

.ceoca_statement {
  font-size: 30px;
  margin-bottom: 100px;
}

.social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  margin: 10px 20px 20px;
  box-shadow: 0 2px;
  background-image: linear-gradient(90deg, rgb(96, 0, 128), #004280);
  border-radius: 20px;
}

.social_media div {
  padding: 5px;
}
.social_media i {
  border-radius: 50%;
  padding: 10px;
  margin: 0 15px;
}

@media all and (max-width: 796px) {
  .coin_intro {
    font-size: 70px;
  }
}
@media all and (max-width: 400px) {
  .wrapper {
    margin: 0;
  }
  .coin_intro {
    font-size: 40px;
  }
  .nav_white_paper {
    font-size: 12px;
  }
  .solana_prompt {
    font-size: 11px;
    margin-bottom: 70px;
  }
  .solana_address_wrapper {
    display: flex;
    border: 0.5px solid;
    border-radius: 7px;
    box-shadow: 0 4px;
    padding: 5px;
    font-size: 11px;
    margin-bottom: 20px;
  }

  .fa-copy,
  .fa-check {
    margin-left: 8px;
  }

  .opening_statement {
    font-size: 80px;
    margin: 20px 0 100px;
    text-align: center;
    font-size: 18px;
  }

  .opening_img {
    margin-bottom: 10px;
  }

  .launch_plan_img {
    margin-bottom: 30px;
  }
  .burger_img_container {
    width: 300px;
    margin-bottom: 20px;
  }
  .roadmap {
    margin-bottom: 40px;
  }

  .tokenomics_img {
    margin-bottom: 30px;
  }
  .disclaimer {
    font-size: 10px;
  }
  .ceoca_statement {
    font-size: 22px;
  }
  .social_media {
    font-size: 20px;
  }
}

@media all and (max-width: 640px) {
  .launch_plan_img_container {
    flex-direction: column;
    align-items: center;
  }
  .launch_plan_img_container :nth-child(1),
  .launch_plan_img_container :nth-child(2) {
    width: 100%;
    margin-bottom: 10px;
  }
}
